---
import Section from "../Section.astro"

import { work } from "@cv"
import i18n from '../../locales/en.json';
---

<Section id="experience" title={i18n.experience.title} style="text-align: justify; text-justify: inter-word;">
  <ul>
    {work.map(({ name, startDate, endDate, position, summary, highlights, url }) => {
      const startYear = new Date(startDate).getFullYear();
      const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual";
      const years = `${startYear} - ${endYear}`;

      return (
        <li>
          <article>
            <header>
              <div>
                <h1 style="font-size: x-large; display: inline-flexbox; font-weight: bold">{position} <p style="font-size: large; display: inline-flexbox">{name}</p></h1>
              </div>

              <time>{years}</time>
            </header>

            <footer>
              <p style="text-align: justify; text-justify: inter-word; font-size: medium; font-weight: bold;">{summary}</p>
              {/* Agregar los aspectos destacados */}
              <ul>
                {highlights.map((highlight, index) => (
                  <li key={index}>{highlight}</li>
                ))}
              </ul>
            </footer>
            
          </article>
          <hr />
        </li>
      );
    })}
  </ul>
</Section>


<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  /* Estilos para los aspectos destacados */
article footer ul {
  margin-top: 5px; /* Espacio superior */
  padding-left: 20px; /* Sangría a la izquierda */
}

article footer ul li {
  list-style-type: upper-roman; /* Utilizar bullets */
  color: #555; /* Color del texto */
  margin-bottom: 0px; /* Espacio inferior */
}

ul[data-astro-cid-ghubstuj] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
